N8N_VERSION=2.32.7
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=n8n
POSTGRES_NON_ROOT_USER=n8n_user
POSTGRES_NON_ROOT_PASSWORD=change-me
RUNNERS_AUTH_TOKEN=change-me
N8N_ENCRYPTION_KEY=change-me
